{% layout "layout.liquid" %} {% block content %}
            <!-- Page header with logo and tagline-->
            <header class="py-5 bg-dark border-bottom mb-4">
                <div class="container">
                    <div class="hero-text text-center my-5">
                        <h1 class="fw-bolder">Welcome to the Fantasy Basketball Forum!</h1>
                        <h2 class="lead mb-0">A place to discuss the fantasy outlook of players for the 2022-2023 season!</h2>
                    </div>
                </div>
            </header>
            <!-- Page content-->
            <div class="container">
                <div class="row">
                    <!-- Blog entries-->
                    <div class="col-lg-10">
                        <!-- Nested row for non-featured blog posts-->
                        <div class="row">
                            {% assign posts_reversed = posts | reverse%}
                            {%for post in posts_reversed %}
                            <div class="col-lg-6">
                                <!-- Blog post-->
                                <div class="index-card card mb-4">
                                        {%if post.player[0].image%}
                                        <img class="image-block img-fluid" src="{{post.player[0].image}}" alt="..." />
                                        {%elsif post.player[0].nba.nickname == "ATL"%}
                                        <div class="jersey-block Atl-block img-fluid text-center">
                                            <div class="jersey-num Atl-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "BOS"%}
                                        <div class="jersey-block Bos-block img-fluid text-center">
                                            <div class="jersey-num Bos-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "BKN"%}
                                        <div class="jersey-block Bkn-block img-fluid text-center">
                                            <div class="jersey-num Bkn-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "CHA"%}
                                        <div class="jersey-block Cha-block img-fluid text-center">
                                            <div class="jersey-num Cha-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "CHI"%}
                                        <div class="jersey-block Chi-block img-fluid text-center">
                                            <div class="jersey-num Chi-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "CLE"%}
                                        <div class="jersey-block Cle-block img-fluid text-center">
                                            <div class="jersey-num Cle-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "DAL"%}
                                        <div class="jersey-block Dal-block img-fluid text-center">
                                            <div class="jersey-num Dal-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "DEN"%}
                                        <div class="jersey-block Den-block img-fluid text-center">
                                            <div class="jersey-num Den-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "DET"%}
                                        <div class="jersey-block Det-block img-fluid text-center">
                                            <div class="jersey-num Det-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "GSW"%}
                                        <div class="jersey-block Gsw-block img-fluid text-center">
                                            <div class="jersey-num Gsw-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "HOU"%}
                                        <div class="jersey-block Hou-block img-fluid text-center">
                                            <div class="jersey-num Hou-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "IND"%}
                                        <div class="jersey-block Ind-block img-fluid text-center">
                                            <div class="jersey-num Ind-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "LAC"%}
                                        <div class="jersey-block Lac-block img-fluid text-center">
                                            <div class="jersey-num Lac-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "LAL"%}
                                        <div class="jersey-block Bos-block img-fluid text-center">
                                            <div class="jersey-num Bos-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "MEM"%}
                                        <div class="jersey-block Mem-block img-fluid text-center">
                                            <div class="jersey-num Mem-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "MIA"%}
                                        <div class="jersey-block Mia-block img-fluid text-center">
                                            <div class="jersey-num Mia-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "MIL"%}
                                        <div class="jersey-block Mil-block img-fluid text-center">
                                            <div class="jersey-num Mil-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "MIN"%}
                                        <div class="jersey-block Min-block img-fluid text-center">
                                            <div class="jersey-num Min-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "NOP"%}
                                        <div class="jersey-block Nop-block img-fluid text-center">
                                            <div class="jersey-num Nop-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "NYK"%}
                                        <div class="jersey-block Nyk-block img-fluid text-center">
                                            <div class="jersey-num Nyk-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "OKC"%}
                                        <div class="jersey-block Okc-block img-fluid text-center">
                                            <div class="jersey-num Okc-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "ORL"%}
                                        <div class="jersey-block Orl-block img-fluid text-center">
                                            <div class="jersey-num Orl-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "PHI"%}
                                        <div class="jersey-block Phi-block img-fluid text-center">
                                            <div class="jersey-num Phi-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "PHO"%}
                                        <div class="jersey-block Pho-block img-fluid text-center">
                                            <div class="jersey-num Pho-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "POR"%}
                                        <div class="jersey-block Por-block img-fluid text-center">
                                            <div class="jersey-num Por-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "SAC"%}
                                        <div class="jersey-block Sac-block img-fluid text-center">
                                            <div class="jersey-num Sac-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "SAS"%}
                                        <div class="jersey-block Sas-block img-fluid text-center">
                                            <div class="jersey-num Sas-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "TOR"%}
                                        <div class="jersey-block Tor-block img-fluid text-center">
                                            <div class="jersey-num Tor-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "UTA"%}
                                        <div class="jersey-block Uta-block img-fluid text-center">
                                            <div class="jersey-num Uta-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%elsif post.player[0].nba.nickname == "WAS"%}
                                        <div class="jersey-block Was-block img-fluid text-center">
                                            <div class="jersey-num Was-num">{{post.player[0].jersey}}</div>
                                        </div>
                                        {%endif%}
                                    <div class="index-card-body card-body">
                                        <div class="small text-muted">{{post.timestamp}}</div>
                                        <h2 class="card-title h4">{{post.title}}</h2>
                                        <p class="card-text">{{post.postBody | slice: 0, 300}}</p>
                                        <a class="btn btn-primary" href="/home/{{post._id}}">Read more →</a>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        <!-- Pagination-->
                        <nav aria-label="Pagination">
                            <hr class="my-0" />
                            <ul class="pagination justify-content-center my-4">
                                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                                <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                                <li class="page-item"><a class="page-link" href="#!">2</a></li>
                                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                                <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                                <li class="page-item"><a class="page-link" href="#!">15</a></li>
                                <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Side widgets-->
                    <div class="col-lg-2">
                        <!-- Search widget-->
                        <div class="card mb-4">
                            <div class="card-header">Search for posts</div>
                            <div class="card-body">
                                <form action="/home/search/player?_method=POST" method="POST">
                                <div class="input-group">
                                    <input class="form-control" name = "name" type="text" placeholder="Search" aria-label="Search" aria-describedby="button-search" />
                                    <input type="Submit" class="btn btn-primary" value="Go!">
                                </form>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header text-center">
                                <a class="btn btn-primary text-center" type="button" href="/home/new">Create a Post!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{%endblock%}
    