<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <title>{{posts.title}}</title>
            <!-- Favicon-->
            <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="/css/styles1.css" rel="stylesheet" />
        </head>
        <body>
            <!-- Responsive navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="/index"><a class="nav-link" href="#">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/home/user/{{username}}">{{username}}</a></li>
                            <li class="nav-item"><a class="nav-link" href="#!">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Post content-->
                        <article>
                            <!-- Post header-->
                            <a type="button" class="btn btn-outline-warning btn-sm" href="/home">Back</a>
                            <header class="mb-4">
                                <!-- Post title-->
                                <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                                <div class="player-stats">
                                    <h6>{{post.player[0].nba.name}} {{post.player[0].pos}}</h6>
                                    <h6>{{post.player[0].height.feets}}' {{post.player[0].height.inches}}"</h6>
                                    <h6>{{post.player[0].nba.pro}} years pro</h6>
                                </div>
                                <!-- Post meta content-->
                                <div class="text-muted fst-italic mb-2">{{post.timestamp}}</div>
                                <!-- Post categories-->
                                <a class="badge bg-secondary text-decoration-none link-light" href="/home/user/{{post.postOwner}}">{{post.postOwner}}</a>
                            </header>
                            <!-- Post content-->
                            <section class="mb-5">
                                <p>{{post.postBody}}</p>
                                {% if username == post.postOwner%}
                                <div class="userbtns">
                                    <a type="button" class="btn btn-outline-warning btn-sm" href="{{post._id}}/edit">Edit</a>
                                    <form action="/home/{{post._id}}?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-outline-warning btn-sm" value="Delete" />
                                    </form>
                                </div>
                                {%else%}
                                {%endif%}
                            </section>
                        </article>
                        <!-- Comments section-->
                        <section class="mb-5">
                            <div class="card bg-light">
                                <div class="card-body">
                                    <!-- Comment form-->
                                    <form class="mb-4" action="/home/{{post._id}}/comments?_method=POST" method="POST">
                                        <textarea class="form-control" rows="5" name="commentBody" placeholder="Join the discussion and leave a comment!"></textarea>
                                        <button type = "submit" class ="btn btn-primary btn-sm mt-2">Comment</button>
                                    </form>
                                    <!-- Comment with nested comments-->
                                    {%for comment in post.comments%}
                                    <!-- Single comment-->
                                    <div class="comment">
                                        <div class="user-box">
                                        <div class="commentimg flex-shrink-0"><img class="commentimg rounded-circle" src="{{comment.commentOwner.propic}}" width="50" alt="..." /></div>
                                        <div class="ms-3">
                                            <a class = usernameLink href="/home/user/{{comment.commentOwner.username}}"><div class="fw-bold">{{comment.commentOwner.username}}</div></a>
                                            <p class = "commentbody">{{comment.commentBody}}</p>
                                            <p>
                                                <div class="comments-flex">
                                                    <form action="/home/{{post._id}}/{{comment._id}}/like?_method=PUT" method="POST">
                                                       <button type="submit" class="btn btn-primary btn-sm">Like</button><span class="m-2">{{comment.likes}}</span>
                                                    </form>
                                                    <button class = "btn btn-outline-warning btn-sm" id="replyBut">Reply</button>
                                                </div>
                                            
                                                <div class="" id="">
                                                    <form action="/home/{{post._id}}/{{comment._id}}/reply?_method=POST" method="POST">
                                                        <div class="hidden" id="replyarea">
                                                            <textarea name="replyBody" cols="60" rows="2" value="reply"></textarea>
                                                            <input type="submit" class="btn btn-outline-warning btn-sm" value ="Submit">
                                                        </div>
                                                    </form>
                                                </div>
                                            </p>
                                        </div>
                                        </div>
                                        <div class="reply">
                                            <div class="ms-3">
                                                {% for reply in comment.replies%}
                                                <div class= user-box>
                                                <div class="replyimg flex-shrink-0"><img class="commentimg rounded-circle" src="{{reply.replyOwner.propic}}" width="30" alt="..." /></div>
                                                <a href="/home/user{{reply.replyOwner.username}}"><div class="replyOwner">{{reply.replyOwner.username}}</div></a>
                                                <p>{{reply.replyBody}}</p>
                                                </div>
                                                {%endfor%}

                                            </div>
                                        </div>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <!-- Footer-->
            <footer class="py-5 bg-dark">
                <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
            </footer>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
            <script type="text/javascript">
                const replyCont = document.getElementById("replyBut")
                const replyArea = document.getElementById("replyarea")
                replyCont.onclick = function(){
                    {% comment %} replyArea.classlList.remove("hidden") {% endcomment %}
                    replyArea.classList.toggle("hidden")
                }
            </script>
            <!-- Core theme JS-->
        </body>
    </html>
    